header {
  background-color: #333; /* Dark gray */
  display: flex;
  /*justify-content: space-between;*/
  align-items: center;
}
body {
  font-family: sans-serif;
  color: #9b9b9b; /* Soft gray */
  background-color: #f4f4f4; /* Soft off-white */
  margin: 0;
  padding: 0;
}

h1 {
     display: inline-block;
     align-items: center
     font-size: 2em;
     /*text-align: center;*/
     vertical-align: center;
     margin: 1em 4;
     color: #f4f4f4; /* Soft off-white */
     margin-left: 1em;
}
h2, h3 {
  font-size: 2em;
  text-align: center;
  margin: 1em 0;
  color: #333; /* Dark gray */
}

p {
  margin: 0 1em;
  font-size: 1.1em;
  line-height: 1.5em;
  color: #333; /* Dark gray */
}

ul {
  list-style: none;
  text-align: center;
  margin: 0;
  padding: 0;
  margin-right: 1em;
}

li {
  display: inline-block;
  margin: 0 1em;
  padding: 1em;
  background-color: #fff; /* White */
  color: #333; /* Dark gray */
}

a {
  color: #333; /* Dark gray */
  text-decoration: none;
}
